*{
  font-family: "Inter", sans-serif;
  margin: 0;
}

.common-button {
  background-color: #1D4ED8;
  color: white;
  border: none;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 10px;
  cursor: pointer;
}

.outline-button {
  background-color: white ;
  color: #1D4ED8;
  border: 1px solid #1D4ED8;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 10px;
  cursor: pointer;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

nav ul {
  display: flex;
  list-style: none;
  column-gap: 25px;
  padding: 0px;
}

nav ul a {
  font-family: "Arimo", sans-serif;
  color: #575757;
  text-decoration: none;
  font-size: 15px;
}

/* Hero Section */

.hero-section {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)), url("../B14-A01-DevConf-2026/assets/banner.jpg");
  /* min-height: 720px; */
  min-height: clamp(400px, 100vh, 720px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;
}

.hero-section h1 {
  font-weight: bold;
  font-size: 70px;
  margin: 0 auto;
  padding-top: 100px;
}

.hero-section p {
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 26%;
  margin-bottom: 200px;
}

.hero-section button {
  padding: 20px 50px;
  font-size: 18px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

/* Meet the Speakers */

.meet-the-speakers h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 50px;
}

.speaker-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 0 8%;
}

.speaker-card-container img {
  max-width: 100%;
  border-radius: 12px 12px 0 0;
}

.speaker-card-container div {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}

.speaker-job-field {
  color: #2563EB;
  font-size: 10px;
  font-weight: 600;
  margin-left: 20px;
  padding-top: 10px;
} 

.speaker-name {
  margin-left: 20px;
  padding-top: 10px;
} 

.speaker-job-title {
  color: #575757;
  font-size: 12px;
  margin-left: 20px;
  padding: 10px 0;
  padding-bottom: 25px;
}

/* Secure Your Spot */

.secure-your-spot-section > h1, .secure-your-spot-section > p {
  text-align: center;
}

.secure-your-spot-section > h1 {
  margin-top: 130px;
  font-size: 44px;
}

.secure-your-spot-section > p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #575757;
  font-size: 14px;
}

.price-card-container {
  display: flex;
  justify-content: center;
  gap: 40px
}

.pricing-card {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  min-width: 20%;
}

.pricing-card-type {
  color: #888888;
  font-weight: 600;
  font-size: 12px;
  margin: 24px;
  margin-bottom: 0px;
}

.pricing-card-price {
  color: #0D1B2A;
  font-weight: 700;
  font-size: 34px;
  margin: 4px 24px;
}

.pricing-card-people-amount {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  margin: 0px 24px;
}

.pricing-card hr {
  border: none;
  height: 1px;
  background-color: #E5E7EB;
  margin: 20px 24px;
}

.pricing-card li::marker {
  color: #2563EB;
}

.pricing-card ul li {
  color: #333333;
  font-size: 12px;
  padding: 8px 0;
}

.pricing-card-button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.pricing-card-button-container button {
  padding: 10px 45px;
  min-width: 80%;
  border-radius: 4px;
}

.highlighted-card {
  background-color: #0D1B2A; 
}

.highlighted-card p:first-child {
  color: #93C5FD;
}

.highlighted-card h1 {
  color: white;
}

.highlighted-card hr {
  background-color: rgba(255, 255, 255, 0.1);
}

.highlighted-card ul li {
  color: rgba(255, 255, 255, 0.7)
}

.highlighted-card .pricing-card-button-container button {
  background-color: #1D4ED8;
  color: white;
}

