* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.common-button {
  background-color: #1D4ED8;
  color: white;
  border: none;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 10px;
  cursor: pointer;
}

.outline-button {
  background-color: white;
  color: #1D4ED8;
  border: 1px solid #1D4ED8;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 10px;
  cursor: pointer;
}

/* Nav Bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

nav ul {
  display: flex;
  list-style: none;
  column-gap: 25px;
  padding: 0px;
}

nav ul a {
  font-family: "Arimo", sans-serif;
  color: #575757;
  text-decoration: none;
  font-size: 15px;
}

/* Hero Section */

.hero-section {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)), url("../B14-A01-DevConf-2026/assets/banner.jpg");
  /* min-height: 720px; */
  min-height: clamp(400px, 100vh, 720px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;
}

.hero-section h1 {
  font-weight: bold;
  font-size: 70px;
  margin: 0 auto;
  padding-top: 100px;
}

.hero-section p {
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 26%;
  margin-bottom: 200px;
}

.hero-section button {
  padding: 20px 50px;
  font-size: 18px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

/* Meet the Speakers */

.meet-the-speakers h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 50px;
}

.speaker-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 0 8%;
}

.speaker-card-left {
  justify-self: end;
}

.speaker-card-right {
  justify-self: start;
}

.speaker-card-container img {
  max-width: 100%;
  border-radius: 12px 12px 0 0;
}

.speaker-card-container div {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}

.speaker-job-field {
  color: #2563EB;
  font-size: 10px;
  font-weight: 600;
  margin-left: 20px;
  padding-top: 10px;
}

.speaker-name {
  margin-left: 20px;
  padding-top: 10px;
}

.speaker-job-title {
  color: #575757;
  font-size: 12px;
  margin-left: 20px;
  padding: 10px 0;
  padding-bottom: 25px;
}

/* Secure Your Spot */

.secure-your-spot-section > h1,
.secure-your-spot-section > p,
.topic-section-parent > h1,
.news-section > h1 {
  text-align: center;
}

.secure-your-spot-section > h1,
.topic-section-parent h1,
.news-section > h1 {
  margin-top: 130px;
  font-size: 44px;
}

.secure-your-spot-section > p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: #575757;
  font-size: 14px;
}

.price-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin-inline: auto;
  padding: 0 5%;
  gap: 40px
}

.pricing-card {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  width: 100%;
}

.pricing-card-type {
  color: #888888;
  font-weight: 600;
  font-size: 12px;
  margin: 24px;
  margin-bottom: 0px;
}

.pricing-card-price {
  color: #0D1B2A;
  font-weight: 700;
  font-size: 34px;
  margin: 4px 24px;
}

.pricing-card-people-amount {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
  margin: 0px 24px;
}

.pricing-card hr {
  border: none;
  height: 1px;
  background-color: #E5E7EB;
  margin: 20px 24px;
}

.pricing-card li::marker {
  color: #2563EB;
}

.pricing-card ul li {
  color: #333333;
  font-size: 12px;
  padding: 8px 0;
}

.pricing-card-button-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  margin-bottom: 25px;
}

.pricing-card-button-container button {
  padding: 10px 45px;
  min-width: 80%;
  border-radius: 4px;
}

.highlighted-card {
  background-color: #0D1B2A;
}

.highlighted-card p:first-child {
  color: #93C5FD;
}

.highlighted-card h1 {
  color: white;
}

.highlighted-card hr {
  background-color: rgba(255, 255, 255, 0.1);
}

.highlighted-card ul li {
  color: rgba(255, 255, 255, 0.7)
}

.highlighted-card .pricing-card-button-container button {
  background-color: #1D4ED8;
  color: white;
}

.secure-your-spot-section {
  margin-bottom: 70px;
}

/* Topic Section */
.topic-section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 15%;
  margin: 70px 0;
  gap: 20px;
}

.topic-section-left {
  text-align: right;
  margin-right: 20px;
}

.topic-section-right {
  text-align: left;
  margin-left: 20px;
}

.topic-section p {
  color: #6D7278;
  margin-bottom: 20px;
}

.topic-section h3 {
  color: #2563EB;
  margin-bottom: 20px;
}

/* Decorative Pseudo Elemet Line Top Half */
.topic-section-left::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 22px;
  bottom: 50%;
  width: 1px;
  transform: translateX(-50%);
  background-color: #E5E7EB;
}

.topic-section::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 22px;
  width: 1px;
  transform: translateX(-50%);
  background-color: #E5E7EB;
}

/* Decorative Pseudo Elemet Circle Top */
.topic-section-left::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #2563EB;
}

/* Decorative Pseudo Elemet Circle Bottom */
.topic-section-right::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #2563EB;
}

/* Decorative Pseudo Elemet Circle Middle */
.topic-section-right::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: #2563EB;
}

/* News Section */
.news-section-body {
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  padding: 0 5%;
  margin: 70px 0;
}

.news-section-left > p {
  color: rgb(109, 114, 120);
  margin-bottom: 15px;
}

.news-announcement-date {
    color: black;
    font-size: 1.05em;
    font-weight: 700;
}

.news-section-left a {
  text-decoration: none;
  color: #2563EB;
  font-weight: 600;
  font-style: italic;
}

.news-section-right {
  justify-self: center;
  align-self: center;
}

.news-section-right h2 {
  margin-bottom: 15px;
}

.newsletter-signup-container {
  border: 2px solid #2563EB;
  padding: 30px 50px;
  border-radius: 12px;
}

.newsletter-signup-container input{
  padding: 10px 15px;
  border: 1px solid #2563EB;
  border-radius: 4px;
  margin: 1px;
}

.newsletter-signup-container button {
  padding: 10px 15px;
  border-radius: 4px;
  margin: 1px;
}

.newsletter-signup-container button:hover {
  background-color: #1D4ED8;
  color: white;
  transition: 0.3s;
}

/* Footer Section */
.footer-section {
  padding: 0 5%;
  background-color: #0D1B2A;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.footer-icon-container a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.footer-icon-container a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

footer hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-copyright-text {
  color: rgba(255, 255, 255, 0.4);
  padding: 10px 0 30px 0;
}

.privacy-policy-and-TOS {
  display: flex;
  gap: 20px;
  padding: 10px 0 30px 0;
}

.footer-bottom a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.footer-bottom a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}